@import "../../responsive.scss";


* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ensures the content takes up the full height of the viewport
  padding: 20px;
  background-color: #f5f7fa;

  .profile-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: -10%;

    .profile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
      }

      .update-profile-btn{
        .button {
          background-color: #d6b990;
          color: #fff;
          border: none;
          padding: 10px 16px;
          border-radius: 6px;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #d6b990;
          }
        }
      }
     
    }

    .profile-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-avatar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .label {
          font-size: 1rem;
          font-weight: 500;
          color: #666;
          margin-right: 10px;
        }

        .avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 3px solid #ddd;
          object-fit: cover;
        }
      }

      .profile-info {
        width: 100%;
        .info-item {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px solid #f0f0f0;

          .label {
            font-size: 1rem;
            font-weight: 600;
            color: #444;
          }

          b {
            font-size: 1.2rem;
            color: #333;
          }
        }
      }

      .logout-btn {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 20px;
        margin-left: 80%;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
}
.create-new-post{
  .button {
    background-color: #d6b990;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #d6b990;
    }
  }
}